<footer class="site-footer">
	<div class="inner">
		<div class="row">
			<div class="left">
				<!--<img src="assets/images/facelogo.png" alt="Michel Boudreau" >-->
			</div>
			<div class="right">
				<a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
				<a class="email-link"
				   href="mailto:&#109;&#105;&#99;&#104;&#101;&#108;&#98;&#111;&#117;&#100;&#114;&#101;&#97;&#117;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"><i
						class="fa fa-envelope"></i></a>
				<a class="google-plus-link" href="https://plus.google.com/+MichelBoudreau/"><i
						class="fa fa-google-plus"></i></a>
				<a class="github-link" href="https://github.com/mboudreau"><i class="fa fa-github"></i></a>
				<a class="stack-exchange-link" href="http://stackexchange.com/users/337103/j-a-x"><i
						class="fa fa-stack-exchange"></i></a>
				<a class="linked-in-link" href="http://www.linkedin.com/pub/michel-boudreau/21/27b/675"><i
						class="fa fa-linkedin"></i></a>

				<div class="clear"></div>
				<h1 class="blog-title-footer"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
				<section class="copyright">All content &copy; 2013 <a href="/">{{@blog.title}}</a> &bull; All rights
					reserved.
				</section>
				<section class="poweredby">Proudly published with <a href="http://ghost.org">Ghost</a> &bull; Designed
					by <a href="http://guuthemes.com">GuuThemes</a></section>
			</div>
		</div>
	</div>
	<a href="#" class="go-to-top"><i class="fa fa-angle-double-up"></i></a>
</footer>
